:root {
  --radius: 2px;
  --white: white;
  --honeydew: #ddf8e8ff;
  --light-gray: #cdd5d1ff;
  --black-shadows: #b4a6abff;
  --mountbatten-pink: #946e83ff;
  --dark-liver: #615055ff;
  --top-menu: #808080;
  --l-r-menu: #d3d3d3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* Main Container */
.grid-container {
  height: 100vh;
  display: grid;
  grid-template:
    "budget-info budget-info budget-info" 20vh
    "left-menu expense-container category-container" 80vh / 1fr 5fr 1fr;
}

.left-menu {
  background: var(--l-r-menu);
  grid-area: left-menu;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.budget-setting,
.category-setting,
.item-setting {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
}

.budget-input,
.category-input-text,
.category-input-amount,
.item-input {
  border: none;
  padding: 0.5rem;
  width: 10rem;
  text-align: center;
}

.input-sign p {
  position: absolute;
  width: 2.5rem;
  text-align: center;
  padding: 0.4rem;
}

.input-sign {
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.budget-add,
.category-set,
.item-add {
  border: none;
  background: none;
  background-color: var(--mountbatten-pink);
  color: var(--white);
  width: 5rem;
  padding: 4px;
  cursor: pointer;
}

#category-selector {
  width: 8rem;
}

.budget-info {
  background: var(--mountbatten-pink);
  color: var(--white);
  grid-area: budget-info;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  line-height: 2;
  text-transform: uppercase;
}

.amount::before {
  content: "$";
}

/* Expense Items Section */
.expense-container {
  background-color: var(--white);
  grid-area: expense-container;
}

.expense-table {
  border-spacing: 20px 10px;
  width: 100%;
}

.expense-data {
  background-color: var(--light-gray);
  text-align: center;
  padding: 5px;
}

.category-header {
  width: 8rem;
}

.amount-header {
  width: 8rem;
}

.desc-header {
  width: 30rem;
}

.date-header {
  width: 6rem;
}

.category-container {
  background: var(--l-r-menu);
  grid-area: category-container;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 0.5rem;
  padding: 1rem 1rem;
}

.category {
  margin: 0 1rem;
}

.category h5 {
  line-height: 2;
  text-transform: uppercase;
}

.limit::before {
  content: "Limit: \00a0$";
}
.spent::before {
  content: "Spent: $";
}

select {
  font: 400 12px/1.3 sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: var(--dark-liver);
  border: 1px solid var(--dark-liver);
  line-height: 1;
  outline: 0;
  padding: 0.65em 2.5em 0.55em 0.75em;
  border-radius: var(--radius);
  background-color: var(--white);
  background-image: linear-gradient(var(--dark-liver), var(--dark-liver)),
    linear-gradient(-135deg, transparent 50%, var(--honeydew) 50%),
    linear-gradient(-225deg, transparent 50%, var(--honeydew) 50%),
    linear-gradient(var(--honeydew) 42%, var(--mountbatten-pink) 42%);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
  background-position: right 20px center, right bottom, right bottom,
    right bottom;
}

select:hover {
  background-image: linear-gradient(
      var(--mountbatten-pink),
      var(--mountbatten-pink)
    ),
    linear-gradient(-135deg, transparent 50%, var(--mountbatten-pink) 50%),
    linear-gradient(-225deg, transparent 50%, var(--mountbatten-pink) 50%),
    linear-gradient(var(--mountbatten-pink) 42%, var(--honeydew) 42%);
}

select:active {
  background-image: linear-gradient(
      var(--mountbatten-pink),
      var(--mountbatten-pink)
    ),
    linear-gradient(-135deg, transparent 50%, var(--mountbatten-pink) 50%),
    linear-gradient(-225deg, transparent 50%, var(--mountbatten-pink) 50%),
    linear-gradient(var(--mountbatten-pink) 42%, var(--honeydew) 42%);
  color: var(--honeydew);
  border-color: var(--mountbatten-pink);
  background-color: var(--mountbatten-pink);
}
